<main class="flex-shrink-0 justify-content-center align-items-center">
  <div class="container mt-4">
    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center mb-3 gap-2">
        <h3 class="mb-4 text-center" style="line-height: 0; margin: 0 !important">
          Tasks
        </h3>
        <div class="d-flex align-items-center justify-content-center gap-2">
          <div class="col-5">
            <input type="text" class="form-control" id="filtro" oninput="debounce(fetchData, 500)"
              placeholder="Buscar pelo título ou código" autocomplete="off" />
          </div>
          <select id="ordem" class="form-select">
            <option value="PRIORIDADE">Ordenar por prioridade</option>
            <option value="ULTIMOS">Ordenar por últimos criados</option>
            <option value="PRIMEIROS">Ordenar por primeiros criados</option>
          </select>
          <button type="button" class="btn btn-primary text-nowrap" onclick="abrirModalCadastro()">
            Cadastrar Task
          </button>
        </div>
      </div>

      <div id="ratsContainer" class="list-group"></div>

      <div class="d-flex flex-column align-items-center justify-content-center">
        <nav id="pagination" class="mt-3 mb-1"></nav>
        <span id="spanPagination"></span>
      </div>

      <div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="modalCadastro" aria-hidden="true"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="border: none; padding-bottom: 0">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Cadastrar Task
              </h1>
            </div>
            <div class="modal-body">
              <form id="formCadastro">
                <div class="row g-2">
                  <div class="col-md-3">
                    <label for="codigo" class="mb-1 ms-1">Código</label>
                    <input type="number" class="form-control" id="codigo" placeholder="123456" autocomplete="off"
                      min="0" required />
                  </div>
                  <div class="col-md-9">
                    <label for="titulo" class="mb-1 ms-1">Título</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Ajuste no Tablet"
                      autocomplete="off" required />
                  </div>
                  <div class="col-12">
                    <label for="descricao" class="mb-1 ms-1">Descrição</label>
                    <textarea class="form-control" id="descricao" rows="5"
                      placeholder="Ajustar o tamanho das fontes do Tablet" style="resize: none" required></textarea>
                  </div>
                  <div class="col-12">
                    <label for="prioridade" class="mb-1 ms-1">Prioridade</label>
                    <select id="prioridade" class="form-select" required>
                      <option value="" selected>Selecione a Prioridade</option>
                      <option value="NORMAL">Normal</option>
                      <option value="MODERADO">Moderado</option>
                      <option value="PRIORITARIO">Prioritário</option>
                      <option value="URGENTE">Urgente</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="border: none; padding-top: 0">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                Cancelar
              </button>
              <button type="submit" form="formCadastro" class="btn btn-primary">
                Cadastrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  let page = 1;
  let totalPages, totalTasks, limitePorPage;
  let ordem = "PRIORIDADE";

  let timeoutDebounce;

  function debounce(func, time) {
    if (timeoutDebounce) clearTimeout(timeoutDebounce);
    timeoutDebounce = setTimeout(() => {
      timeoutDebounce = undefined;
      page = 1;
      func();
    }, time);
  }

  function trocarPagina(pagina) {
    switch (pagina) {
      case "PRIMEIRO":
        if (page === 1) return;
        page = 1;
        break;
      case "ANTERIOR":
        if (page === 1) return;
        page -= 1;
        break;
      case "PROXIMO":
        if (page === totalPages) return;
        page += 1;
        break;
      case "ULTIMO":
        if (page === totalPages) return;
        page = totalPages;
        break;
      default:
        page = Number(pagina);
    }

    fetchData();
  }

  function pagination() {
    const span = document.getElementById("spanPagination");
    span.textContent = `${limitePorPage * page - (limitePorPage - 1)}-${page === totalPages ? totalTasks : limitePorPage * page
      } de ${totalTasks}`;

    const nav = document.getElementById("pagination");
    nav.innerHTML = "";
    const ul = document.createElement("ul");
    ul.classList.add("pagination");
    ul.style.margin = 0;

    ul.innerHTML = `
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" onclick="trocarPagina('PRIMEIRO')">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" onclick="trocarPagina('ANTERIOR')">
          <span aria-hidden="true">&lt;</span>
        </a>
      </li>
    `;

    let startPage = page - 2;
    let endPage = page + 2;

    if (startPage <= 0) {
      endPage -= startPage - 1;
      startPage = 1;
    }

    if (endPage > totalPages) {
      startPage -= endPage - totalPages;
      endPage = totalPages;
    }

    if (totalPages < 5) {
      startPage = 1;
      endPage = totalPages;
    }

    for (let i = startPage; i <= endPage; i++) {
      const li = document.createElement("li");
      li.classList.add("page-item");
      if (i === page) li.classList.add("active");
      li.innerHTML = `<a class="page-link" style="cursor: pointer;" onclick="trocarPagina(${i})">${i}</a>`;
      ul.appendChild(li);
    }

    ul.innerHTML += `
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" onclick="trocarPagina('PROXIMO')">
          <span aria-hidden="true">&gt;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" style="cursor: pointer;" onclick="trocarPagina('ULTIMO')">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    `;

    nav.appendChild(ul);
  }

  async function fetchData() {
    const dataPlace = document.getElementById("ratsContainer");
    dataPlace.innerHTML = ""; // limpa a lista antes de renderizar
    const valueFiltro = document.getElementById("filtro").value || undefined;

    try {
      const response = await fetch(
        `/GetTasks/${page}?ordem=${ordem}${valueFiltro ? `&filtro=${valueFiltro}` : ""
        }`
      );
      if (!response.ok) {
        if (response.status === 401) {
          return window.location.href = "/auth/logout";
        } else {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
      }
      const data = await response.json();

      const accordion = document.createElement("div");
      accordion.classList.add("accordion");
      accordion.id = "tasksAccordion";
      dataPlace.appendChild(accordion);

      if (data.rows.length > 0) {
        totalPages = Number(data.pages);
        totalTasks = Number(data.total);
        limitePorPage = Number(data.limit);
        data.rows.forEach((element, index) => {
          const item = document.createElement("div");
          item.classList.add("accordion-item");

          // item.innerHTML = `
          //   <div style="display: flex; flex-direction: row; gap: 8px;">
          //     <span>${element.titulo}</span>
          //   </div>
          //   <div style="display: flex; flex-direction: row; align-items: center; gap: 8px;">
          //     <img src="${element.usuario.foto}" width="24" height="24" class="rounded-circle" />
          //     <b style="line-height: 0;"> | ${element.usuario.nome}</b>
          //   </div>
          // `;

          item.innerHTML = `
          <h2 class="accordion-header" id="heading${index}">
            <button class="accordion-button collapsed d-flex gap-2 bg-primary text-white no-ring" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#collapse${index}" 
              aria-expanded="${index === 0}" 
              aria-controls="collapse${index}"
            >
              <span class="badge bg-info-subtle text-info-emphasis rounded-pill">${element.codigo
            }</span>
              ${element.prioridade === "NORMAL"
              ? '<span class="badge bg-success-subtle text-success-emphasis rounded-pill">Normal</span>'
              : ""
            }
              ${element.prioridade === "MODERADO"
              ? '<span class="badge bg-warning-subtle text-warning-emphasis rounded-pill">Moderado</span>'
              : ""
            }
              ${element.prioridade === "PRIORITARIO"
              ? '<span class="badge rounded-pill" style="background-color: #361f00; color: #cf9548;">Prioritário</span>'
              : ""
            }
              ${element.prioridade === "URGENTE"
              ? '<span class="badge bg-danger-subtle text-danger-emphasis rounded-pill">Urgente</span>'
              : ""
            }
              ${element.titulo} 
              <!-- <span class="badge bg-primary">${element.codigo}</span> -->
            </button>
          </h2>
          <div 
            id="collapse${index}" 
            class="bg-dark accordion-collapse collapse"
            aria-labelledby="heading${index}" 
            data-bs-parent="#tasksAccordion"
          >
            <div class="accordion-body text-white">
                ${element.descricao}
            </div>
          </div>
      `;
          accordion.appendChild(item);
        });

        pagination();
      } else {
        const text = document.createElement("span");
        text.className = "d-flex justify-content-center text-center fs-3";
        text.textContent = "Nenhuma task encontrada";
        accordion.appendChild(text);
      }
    } catch (err) {
      console.log(err);
    }
  }

  fetchData();

  function abrirModalCadastro() {
    document.getElementById("formCadastro").reset();
    $("#modalCadastro").modal("show");
  }

  document.getElementById("ordem").addEventListener("change", async (e) => {
    ordem = e.target.value;
    fetchData();
  });

  document
    .getElementById("formCadastro")
    .addEventListener("submit", async (e) => {
      e.preventDefault();
      const codigo = Number(document.getElementById("codigo").value);
      const titulo = document.getElementById("titulo").value;
      const descricao = document.getElementById("descricao").value;
      const prioridade = document.getElementById("prioridade").value;

      const response = await fetch("/PostTasks", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ codigo, titulo, descricao, prioridade }),
      });

      if (!response.ok) {
        const err = await response.json();
        if (response.status === 401) {
          return window.location.href = "/auth/logout";
        } else if (err.code && err.code === "INVALID_FIELD") {
          return Swal.fire({
            icon: "error",
            title: "Erro ao Cadastrar Task!!!",
            html: err.errors.map((e) => `${e.field}: ${e.error}`).join("<br>"),
          });
        } else {
          return Swal.fire({
            icon: "error",
            title: "Erro ao Cadastrar Task!",
          });
        }
      }

      Swal.fire({
        icon: "success",
        title: "Task Cadastrada com Sucesso!",
        text: "A task foi cadastrada com sucesso",
      });

      $("#modalCadastro").modal("hide");
      e.target.reset();
      fetchData();
    });
</script>
<style>
  .no-ring:focus {
    outline: none !important;
    box-shadow: none !important;
  }
</style>